[Unit]
Description=DataIO Daemon
After=multi-user.target
Wants=multi-user.target
DefaultDependencies=no

[Service]
ExecStart=/usr/bin/dataio_16do
Restart=always

[Install]
WantedBy=multi-user.target
